
@import url('http://weloveiconfonts.com/api/?family=entypo');

/*-- general stuff --*/

* {
  margin: 0;
}

body {
  background: black;
  text-shadow: #0e0e0e 0px 0.5px 0px;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

header {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

body.sticky-header {
  padding-top: 0px;
}

body.sticky-header header {
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
}

body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}


/*--headermenu --*/

header nav {
  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

header nav a {
  color: #fff;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
}

header nav a:hover {
  color: #fff;
  letter-spacing: 0px;
  cursor: pointer;
  text-decoration: overline;
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 0px #fff;
}

header nav a:first-child:before {
  content: '';
}

header nav a:first-child:hover {
  letter-spacing: 0;
}


/*
header nav a:before {
  content: '|';
  padding: 0 3em 0 1em;
  color: #00000;
}

header nav a:first-child:before {
  content: '';
}

header nav a:after {
    top: 90%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #333;
    border-width: 14px;
    margin-left: -7px;
  }

*/


/*-- navigation bar --*/

.navigation {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;
  height: 42px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
}

.navigation ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  height: 10px;
}

.navigation li {}

.right {
  float: right;
  margin-right: 20px;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 1%;
  transition: background 0.2s;
}

.navigation li a:hover {
  background-position: 0 0;
}

.navbar-brand {
  top: 0;
  left: 0;
  border: 1px solid #fff;
  float: left;
  margin: 10px 15px;
  font-size: 1.1em;
  line-height: 1em;
}

.underline {
  text-decoration: none;
  outline: none;
  width: auto;
  padding: 1px 1px;
  margin-top: 10px;
  margin-left: 15px;
}

.underline:hover {
  border-bottom: 1px solid;
  background-position: 0 0;
}


/*--------social-icons-bara--------

.social-icons-bara {
  float: right;
  display: block;
}

.social-icons-bara a {
  margin-right: 0.5px;
  /*--space between---
}

.social-icons-bara a i {
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10%;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.social-icons-bara a i:hover {
  border: 2px solid #2ecc71;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


/*-------upButton---------*/

#return-to-top {
  position: fixed;
  bottom: 10px;
  right: 5px;
  background: #ccc;
  width: 30px;
  height: 40px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 10px;
  top: 13px;
  font-size: 21px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #ccc;
}

#return-to-top:hover i {
  color: #fff;
  top: 2px;
}


/*-- /navigation bar --*/


/*-- mouse weel and animation --*/

@media screen and (min-width: 81px) {
  .mouse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 1px solid #8f8f8f;
    bottom: -15%;
    position: absolute;
    left: 50%;
    margin-left: -14px;
    background: #ccc;
  }
  .mouse span {
    display: block;
    width: 10px;
    height: 20px;
    border-radius: 4px;
    background: #8f8f8f;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation: scroll 1s infinite ease;
  }
  @keyframes scroll {
    0% {
      opacity: 90;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
}


/*-- /mouse weel and animation --*/


/*----------------*/


/*-------Avatar first page---------*/

.header-title {}

.avatar {
  background-image: url("https://img.xatblog.net/image/s1AEXhmquH.png");
  background-size: cover;
  border-radius: 100%;
  margin: auto auto 7rem auto;
  width: 15rem;
  height: 15rem;
  transition: all 0.5s ease-in-out;
  transform: rotate(5deg);
  animation: circle 5s infinite ease;
}

@keyframes circle {
  0% {
    box-shadow: 0 0 0 28px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 0 1px #2ecc71;
  }
  100% {
    box-shadow: 0 0 0 15px #2ecc71;
    box-shadow: 0 0 0 28px rgba(255, 255, 255, 0.2);
  }
}


/*--Linkedin ------*/

.dev-linkedin-link {
  position: absolute;
  left: 50%;
  top: 210px;
  color: #0077B5;
  margin-left: 40px;
  font-size: 50px;
  line-height: 40%;
  z-index: 101;
  background: #fff;
  border-radius: 16px;
  border: 0px #fff solid;
  box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.dev-linkedin-link .fa {
  line-height: 0.85;
}

.fa {}

.fa-linkedin-square:before {}


/*--------cloud--------



.cloudA {
	position: absolute;
	top: 58%;
	left: 30%;
	height: 7vmin;
	width: 20vmin;
	border-radius: 10vmin;
	background: #fff;
	transform: scale(0.1);
	animation: c2 25s infinite ease;
  z-index: 0;
}

@keyframes c2 {
	0% {
		transform: translateX(-5vmin) scale(0.0); ;
	}
	50% {
		transform: translateX(-5vmax) scale(0.9); ;
	}
  100% {
		transform: translateX(38vmin) scale(0.9); ;
	}
  
}

.cloud1 {
	position: absolute;
	top: -5vmin;
	left: 7vmin;
	height: 10vmin;
	width: 10vmin;
	border-radius: 20vmin;
	background: #fff;
}

.cloud2 {
	position: absolute;
	top: -3vmin;
	left: 3vmin;
	height: 7vmin;
	width: 7vmin;
	border-radius: 20vmin;
	background: #fff;
}
------*/


/*--------section INTRO--------*/

#sectionIntro {
  background-size: cover;
  opacity: 0.9;
  padding-bottom: 170px;
  padding-top: 120px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}

.gradient {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#sectionIntro:after {
  content: "";
  background-image: url('http://thorarinn.is/img/codepen01.jpg');
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.aboutContainer {
  padding-bottom: 50px;
}

.introContent {
  text-align: center;
}

.me {
  color: #eee;
  width: 100%;
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 1px;
  text-align: center;
  padding-top: 1%;
}

.introHeader {}

.introHeading h1 {
  color: #f47d31;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 0;
  line-height: 75px;
  text-shadow: #ffffff 2px 1px 1px;
}

.introHeading h2 {
  font-size: 25px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  color: #2eb267;
  text-shadow: #ffffff 1px 0.5px 1px;
}

.introTags {
  text-align: center;
  display: block;
  height: 100px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #ffffff;
  padding: 2px;
  text-transform: uppercase;
}


/*
.introTags:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}
*/


/*------Section ABOUT----------*/

#sectionAbout {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#sectionAbout:after {
  content: "";
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.sectionTitle {
  background: #333;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.sectionTitle h1 {
  color: #F8F8FF;
}

.sectionTitle h4 {
  color: #2eb267;
}

.aboutMe {
  padding: 15px 10px;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2);
}

.aboutMe h1 {
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #2eb267;
  padding-bottom: 10px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
}

.textBlue {
  color: #2eb267;
}

.aboutProfile {
  text-align: center;
}

.profileAv {
  border-radius: 10%;
  -webkit-border-radius: 50%;
  width: 80px;
  height: 80px;
}

.aboutProfile p {
  color: #605f5d;
}

.aboutProfile h3 {
  color: #f47d31;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.aboutProfile h4 {
  color: #2eb267;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
}

.profileInfo {
  padding-top: 10px;
}

.aboutProfile h5 {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 15px;
  color: #0275d8;
}

.aboutSkills h4 {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 15px;
  color: #2eb267;
}


/*------- sectionResume---------*/

#sectionResume {
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  padding: 2%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.maxwidth {
  max-width: 1160px;
  width: 100%;
}

.resumeEe {
  margin: 0 auto;
}

.resumeEe .icon {
  font-size: 25px;
  background: #2eb267;
  color: #ffffff;
  padding: 5px 5px 0 5px;
}

.resumeEe h3 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.resumeEe h4 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.resumeEe p {
  line-height: 21px;
  letter-spacing: 1px;
  font-size: 13px;
  margin-top: 5px;
}

.resumeEd {
  text-align: right;
}

.resumeEd p {
  padding-left: 25px;
}

.resumeEd h3 {
  text-align: center;
}

.resumeEd .icon {
  margin-left: 20px;
  float: right;
}

.resumeEd {
  border-right: 1px solid #2eb267;
}

.resumeEm {
  text-align: left;
}

.resumeEm p {
  padding-right: 25px;
}

.resumeEm h3 {
  text-align: center;
}

.resumeEm .icon {
  margin-right: 20px;
  float: left;
}

.resumeEm {
  border-left: 1px solid #2eb267;
}

.resumeList {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  padding: 25px;
  background: #ffffff;
}

.resumeList li {
  display: block;
  margin-top: 1px;
  margin-bottom: 25px;
}

.resumePeriod {
  background: #2eb267;
  color: #fff;
  padding: 2px 4px;
  font-size: 11px;
  text-shadow: none;
}

.resumeName {
  color: #2eb267;
  font-size: 12px;
  text-shadow: none;
}


/*------- /sectionResume---------*/


/*------- sectionContacts---------*/

#sectionContact {
  padding: 10px 40px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  padding-bottom: 75px;
  text-align: center;
  background-size: cover;
  opacity: 0.9;
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}

#sectionContact:after {
  content: "";
  background-image: url('http://thorarinn.is/img/codepen01.jpg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.well {
  background: rgba(245, 245, 245, 0.9);
  border: 0px;
  text-align: center;
  margin-top: em;
}

.box {
  padding-top: 5px;
}


/*------- /sectionContacts---------*/

.footer {
  padding: 10px 0;
  text-align: center;
  background: black;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 1px;
  line-height: 50px;
  color: #fff;
  font-size: 50px;
  text-align: center;
  border-radius: 10%;
  background: rgba(245, 245, 245, 0.2);
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  color: #59d;
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 100%;
  bottom: 5px;
}

.contact-buttons {
  padding-left: 0;
}

.contact-buttons li {
  list-style-type: none;
  list-style: none;
}


/*------ unselectable text----------*/

.unselectable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*------ /unselectable text----------*/

.emptyspace {
  margin-top: 1em;
  /* Adjust to your liking */
  display: inline-block;
  /* Could also use inline-block */
}


/*----experimenting-----*/

.banner {
  display: inline-block;
  margin-left: 1px;
  line-height: 1.5em;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 14px;
  width: 100%;
  position: relative;
}

.banner-update {
  background-color: #f8f8f8;
  border: 1px solid #fffff7;
  color: #555;
  padding: 2px 6px;
}

.banner-update:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 999;
  border-right: 6px solid #eede6b;
  border-bottom: 4px solid transparent;
}


/*-----Services----*/

#sectionServices {
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
  padding: 2%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}


/*-----Skills---*/

.media i.fa {
  height: 50px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  border: 3px solid #222222;
  border-radius: 100%;
  font-size: 25px;
}

.media .media-body h3 {
  margin-bottom: 15px;
  font-size: 24px;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
}

.media .media-body {
  min-width: none;
  padding-left: 25px;
}

.media-heading {
      
    margin-top: 10px;
    margin-left: 20px;
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
  
}

.nobullet {
  text-align: left;
  /*list-style-type: none;*/
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    height: auto;
  }
  header nav a {
    float: left;
    padding: 10px;
    padding-bottom: 0;
    margin-right: 0;
    display: block;
    border-bottom: 0;
  }
  .navbar-brand {
    display: none;
  }
  .selected {
    border-bottom: 0;
  }
}



#wrapper {
  margin: 0 auto;
}
